{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{% block head %}Men's Room{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css"%}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/custom.css"%}" rel="stylesheet">

</head>


<body>

<!------------ navbar ------------------------------->

   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="text-center big-font margin-0"><a href="/">M</a></h2>
            </div>
        </div>
          <div class="row">
              <div class="col-md-12 col-sm-12">
                  <h5 class="text-center small-font margin-0">THE MEN'S ROOM</h5>
              </div>
          </div>
      </div>
    </nav>

   {% block body %}

   {% endblock %}


<!------------------------------ bottom navbar ------------------------------------------>
{% block footer_base %}
    <div class="container" style="margin-top: 10%;">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="min-height: 60px !important;margin-left: 7%;margin-right: 7%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-justified">
            <li id="menu1" class="current"><a href="/">PICK</a></li>
{#            <li id="menu2"><a href="/preferences">PREFERENCES</a></li>#}
            <li id="menu3" class="grey-border"><a href="/trial_room">PACK</a></li>
{#            <li id="menu4"><a href="/search/">SEARCH</a></li>#}
            <li id="menu5" class="grey-border"><a href="#checkout" id="check-link">GO</a></li>
{#            <li id="menu6"><a href="/user_profile/">PROFILE</a></li>#}
          </ul>
        </div>
    </nav>
    </div>
{%  endblock %}

 <!--------------------------- bottom navbar ends here ------------------------------------>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    {% block extra_js %} {% endblock %}

    <script>
          $(document).ready(function() {
              if(localStorage['menu'])
              {
                  var menu = localStorage['menu'];
                  $(".nav li").removeClass("current");
                  $("#"+menu).addClass("current");
              }
              $(document).on("click",".nav li a",function(){
                  $(".nav li").removeClass("current");
                  localStorage['menu'] = $(this).parent().attr("id");
                  $(this).parent().addClass("current");
              });
              $('.carousel-head').carousel({
                  interval: false,
              });
              $('.carousel-out').carousel({
                  interval: false,
              });
               $('.carousel-in').carousel({
                  interval: false,
              });
               $('.carousel-bot').carousel({
                  interval: false,
              });
              $('.carousel-shoe').carousel({
                  interval: false,
              });

              $('#check-link').click(function(){
                  var items = localStorage['cart'];
                  if(!localStorage['cart']){
                      url = "/checkout/"
                  }else {
                      url = "/checkout/" + localStorage['cart'];
                  }

                  console.log(url);
                  window.location.replace(url);

              });


          });
    </script>

    <style>
        .margin-0{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .current{
            text-decoration: none;
            background-color: #eee;
        }
    </style>

</body>
</html>